{% extends 'VictoireCoreBundle::angularLayout.html.twig' %}
{% trans_default_domain "victoire" %}
{% block admin_navbar %}{% endblock %}

{% block body %}
    <div class="modal hide fade">
        {% block modal %}{% endblock %}
    </div>
{% endblock body %}

{% block foot_script %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>
{% endblock foot_script %}
